{% extends "base.html" %}
{% block title %}
    <title>Новости</title>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="shadebox"><a class="create_project_button" href="{% url 'core:project_create' %}" > Нажмите, чтобы создать проект </a></div> {# TODO: make check permissions here #}
    {% if perms.core.can_moderate_projects %}<div class="shadebox" style="margin-top:10px;"><a class="go_to_button" style="color: black;" href="{% url 'core:new_pending_projects_mod' %}"> Нажмите, чтобы просмотреть заявки на проекты </a></div>
    {% endif %}
    {% else %}
        <!--<div>Войдите, чтобы добавить проект</div>-->
    {% endif %}
    {% if object_list %}
        {% for project in object_list %}
            <article class="project_article thin-container">
                <h2><a href="{% url 'core:project_detail' project.id %}">{{ project.project_name }}</a></h2>
                <h3>Тип мероприятия: {{ project.event_type }} </h3>
                <div class="article_body">
                <div class="left-container">
                <p>{{ project.project_info }}</p>
                <p>Направление: {{ project.direction_type }}</p>
                <p>Навыки для участия: </p>
                <div class="tag_container"> {% for skill in project.project_skills.all %}
                    <div class="tag">{{ skill.skill_name }}</div>
                {% endfor %}</div>
                <div>Авторы: {% for author in project.project_authors.all %}
                    <p>{{ author.username }}</p> {% endfor %}
                </div>
                <p>Начало: {{ project.project_start }}</p>
                <p>Конец: {{ project.project_end }}</p>
                <p>Статус проекта: {{ project.get_project_status_display }}</p>
                <p>Опубликовано: {{ project.pub_date }}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                </div>
                <div class="right-container">
                    <img src="https://i.pinimg.com/736x/2b/81/a8/2b81a830e7be62b2437a493d2867c3d8.jpg" style="height: 256px; width: 256px; padding-left: 50px;">
                </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>На данный момент нет проектов.</p>
    {% endif %}

{% endblock %}


